body {
    width: 1150px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}




header {
    border: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #00B4D8;
    background-color: #00b4d87d;
}


a {
    text-decoration: none;
    color: black;
}

header a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 20px;
}

form {
    margin-top: 20px;
    /* border-color: rgba(255, 132, 0, 0.939); */
    border-width: 5px;
    
    background-color: rgba(255, 124, 2, 0.741);
    
}    

footer {
    margin-top: 650px;
}

#empInfo {
  
   display: inline-block;

}
#empInfo div{
border: solid;
border-radius: 25%;
background-color: #00B4D8;
text-align: center;
display: inline-block;
margin: 13px;
}

#empInfo div img{
    width: 250px;
    height: 250px;
    border-radius: 40% ;
}

footer div {

    display: flex;
    justify-content: space-around;
    padding: left 20px;
    padding-right: 20px;
    border: solid;
    text-align: center;
    color: #00B4D8;
    margin-top: 50px;

}

#tableDiv, tr, th, td{
    border: solid;
    padding: 10px;
}

#tableDiv{
    margin-top: 20px;
}